<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691410395293-nbh497hhm2jocke5t1q3ju8ds4iudsns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691410395293-nbh497hhm2jocke5t1q3ju8ds4iudsns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691410395293-k4h8oqauflgltnbhgvsff5rsrfpjcofo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAURIoyKWLIr5yLIt-23Cbx_dBOhQ3N6Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>691410395293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goPrivate</string>
	<key>PROJECT_ID</key>
	<string>privatego-7d44e</string>
	<key>STORAGE_BUCKET</key>
	<string>privatego-7d44e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691410395293:ios:b995cbaa841861fd66f474</string>
	<key>DATABASE_URL</key>
	<string>https://privatego-7d44e-default-rtdb.firebaseio.com</string>
</dict>
</plist>